<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <title>Gofalu am Geredigion | Caring for Ceredigion</title>
</head>
<body>

{% block styles %}
{% endblock %}

<!-- nav bar -->    
<header>  
    <nav class="light-blue darken-4 nav-extended text-shadow" role="navigation">
      <div class="nav-wrapper container">
          <a id="logo-container" href="{{ url_for('get_opportunities') }}" class="brand-logo white-text">GaG | CfC</a>
          <ul class="right hide-on-med-and-down">
            {% if session.user %}
              <li><a class="white-text" href="{{ url_for('get_opportunities') }}">Home</a></li>
              <li><a class="white-text" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
              <li><a class="white-text" href="{{ url_for('get_opportunities') }}">New Opportunity</a></li>
              <li><a class="white-text" href="#">Opportuities</a></li>
              <li><a class="white-text" href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}  
              <li><a class="white-text" href="{{ url_for('login') }}">Log In</a></li>
              <li><a class="white-text" href="{{ url_for('register') }}">Register</a></li>
            {% else %} 
            </ul>
<!-- mobile nav bar -->
          <ul id="nav-mobile" class="sidenav">
              <li class="white-text"><a href="#">Navbar Link</a></li>
          
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <li><a class="white-text" href="{{ url_for('get_opportunities') }}"></a>Home</a></li>
            {% if session.user %}
                <li><a class="white-text" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a class="white-text" href="{{ url_for('get_opportunities') }}">New Opportunity</a></li>
                <li><a class="white-text" href="#">Opportuities</a></li>
                <li><a class="white-text" href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
                <li><a class="white-text" href="{{ url_for('login') }}">Log In</a></li>
                <li><a class="white-text" href="{{ url_for('register') }}">Register</a></li>
            {% end if %}
            </ul>
      </div>
  </nav>
</header>
  <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
          <div class="container">
              <br><br>
              <h1 class="header center white-text">Gofalu am Geredigion<br><hr>
              Caring for Ceredigion</h1>
              <div class="row center">
                  <h5 class="header col s12 light">Your hub for volunteering opportunities in Ceredigion.</h5>
              </div>
              <div class="row center">
                <img id="logo" src="/images/readme/GagLogo.png" alt="caring for ceredigion logo">
              </div>
              <br><br>
          </div>
      </div>
      <div class="parallax"><img src="/images/readme/Cardigan-Bay-featured.jpg" alt="cardigan bay coastline"></div>
  </div>

  <section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row flashes">
                    <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</section>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

  <footer class="page-footer blue darken-4">
      <div class="container">
          <div class="row">
              <div class="col l6 s12">
                  <h5 class="white-text">Company Bio</h5>
                  <p class="grey-text text-lighten-4">We are a team of college students working on this project like
                      it's our full time job. Any amount would help support and continue development on this project
                      and is greatly appreciated.</p>


              </div>
              <div class="col l3 s12">
                  <h5 class="white-text">Settings</h5>
                  <ul>
                      <li><a class="white-text" href="#!">Link 1</a></li>
                      <li><a class="white-text" href="#!">Link 2</a></li>
                      <li><a class="white-text" href="#!">Link 3</a></li>
                      <li><a class="white-text" href="#!">Link 4</a></li>
                  </ul>
              </div>
              <div class="col l3 s12">
                  <h5 class="white-text">Connect</h5>
                  <ul>
                      <li><a class="white-text" href="#!">Link 1</a></li>
                      <li><a class="white-text" href="#!">Link 2</a></li>
                      <li><a class="white-text" href="#!">Link 3</a></li>
                      <li><a class="white-text" href="#!">Link 4</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="footer-copyright">
          <div class="container">
              Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
          </div>
      </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>