{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Edit Opportunity</h3>
    <!-- catagory selector -->
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_opportunity', opportunity_id=opportunity._id) }}">
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="category" name="category" class="validate" required>
                        <option value="" selected>Choose Category</option>
                        {% for category in categories %}
                        {% if category.category_type == opportunity.category_type %}
                            <option value="{{ category.category_type }}" selected>{{ category.category_type }}</option>
                        {% else %}
                            <option value="{{ category.category_type }}">{{ category.category_type }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
					<label for="category_type">Opportunity category</label>
				</div>
			</div>
            <!-- opportunity title input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="title" name="title" minlength="5" maxlength="50"
                    value="{{ opportunitity.title }}" type="text" class="validate" required>
                    <label for="title">Opportunity title</label>
                </div>
            </div>
            <!-- opportunity institution input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-heart prefix light-blue-text text-darken-4"></i>
                    <input id="institution" name="institution" minlength="5" maxlength="100"
                    value="{{ opportunity.institution }}" type="text" class="validate" required>
                    <label for="institution">Institution</label>
                </div>
            </div>
            <!-- opportunity description text area -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="description" name="description" minlength="5"
                        maxlength="500" class="materialize-textarea validate" required>
                    {{- opportunity.description -}}
                    </textarea>
                    <label for="description">Opportunity description</label>
                </div>
            </div>
             <!-- is Welsh essential toggle? -->
			<div class="row">
				<div class="input-field col s12">
					<div class="switch">
                        <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
						<label for="welsh_needed">
                            {% if opportunity.welsh_needed == "on" %}
                            <input type="checkbox" id="welsh_needed" name="welsh_needed" checked>
                        {% else %}
                            <input type="checkbox" id="welsh_needed" name="welsh_needed">
                        {% endif %}
                        <span class="lever"></span>
                            Are Welsh communication skills essential?
                        </label>
					</div>
				</div>
			</div>
            <!-- application due date, date picker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                    <input id="application_due" name="application_due" type="text" 
                    value="{{ opportunity.application_due }}" 
                    class="datepicker validate" required>
                    <label for="application_due">Application due date</label>
                </div>
            </div>
           
         <!-- submit button -->
         <div class="row">
            <div class="col s12 center-align">
                <!-- cancel button -->
                <a href="{{ url_for('get_opportunities') }}" class="btn-large red text-shadow">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Edit opportunitity <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
        </form>
    </div>

{% endblock %}