{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">All Opportunities</h3>

    <ul class="collapsible">
        {% for opportunity in opportunities %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ opportunity.category_type }} : {{ opportunity.title }}</strong>
                
            </div>
            <div class="collapsible-body">
                <strong>{{ opportunity.institution }}</strong>
                <p>{{ opportunity.description }}</p>
                {{ opportunity.application_due }}
                {% if opportunity.is_welsh_needed == "off" %}
                    <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped"
                        data-position="right" data-tooltip="URGENT!"></i>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}