<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opportunities</title>
</head>
<body>
    {% for opportunities in opportunities %}
        {{ opportunities.category_name }} <br>
        {{ opportunities.opportunity_name }} <br>
        {{ opportunities.institution }} <br>
        {{ opportunities.opportunity_description }} <br>
        {{ opportunities.welsh_required }} <br>
        {{ opportunities.application_deadline }}
    {% endfor %}
</body>
</html>